[user]
	name = Ayush Shrivastava
	email = ayush.shrivastava@oyorooms.com
	signingkey = E03EAB3BB986E5F0
[core]
	editor = nvim
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[alias]
	aaex = add -- .
	unstage = reset HEAD --
	cprev = log -1 HEAD
	cprevs = log -1 --oneline HEAD
	ls-alias = config --get-regexp ^alias
